
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:60px;"></div>
<h2 style="color:red;">Error Critico</h2>
<h3>No se puede eliminar la categoria dado que esta dada de alta con algunos productos, ¡favor de verificar
    los productos!</h3>

